<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="background-color: #003DA6 !important;">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">
        <img  class="d-inline-block align-top" src="https://consorcio.modyocdn.com/uploads/ce228c56-db93-4203-94b5-8ca0f82f9981/original/logo_consorcio_2019.svg" alt="Logo Consorcio">
      </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/pharmacy']">Farmacias</a>
            </li>
            <!-- <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/search']">Search</a>
            </li> -->
        </ul>

    </div>
</nav>
